#header {
  color: white;
  background-color: black;
}
#nav-bar {
  color: white;
  background-color: black;
}
#section {
  background-color: rgb(175, 124, 124);
}
body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  }  